@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-uniquifier {
  font-family: "Manrope", sans-serif;

}

.meetbg{
border-radius: 10px;
background: linear-gradient(270.00deg, rgba(255, 0, 0, 1),rgba(255, 137.00003051757812, 55.999996185302734, 1) 100%);
}

.meet1{
  color: rgba(244, 244, 244, 1);
font-family: Manrope;
font-size: 45px;
font-weight: 800;
line-height: 110%;
letter-spacing: 0px;
}

.meet2{
  color: rgba(244, 244, 244, 1);
font-family: Manrope;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
}

.button1{
width: 139px;
height: 56px;
border-radius: 8px;
 background-color:  rgba(255, 255, 255, 1)
}

.buttonp{
font-family: Manrope;
font-size: 20px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}

.sectionP{
color: rgba(119, 119, 119, 1);
font-family: Manrope;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
.sectionP1{
color: rgba(119, 119, 119, 1);
font-family: Manrope;
font-size: 20px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}

.sectionh{
  color: rgba(28, 28, 28, 1);
font-family: Manrope;
font-size: 16px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}

.footer{
  color: rgb(0, 0, 0);
font-family: Manrope;
font-size: 20px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}

.footerLast{
  color: rgb(0, 0, 0);
font-family: Manrope;
font-size: 24px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}


.meet3{
  color: rgb(0, 0, 0);
font-family: Manrope;
font-size: 45px;
font-weight: 800;
line-height: 110%;
letter-spacing: 0px;
}

.sectionte{
color: rgba(119, 119, 119, 1);
font-family: Manrope;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;

}

.buttonp1{
font-family: Manrope;
font-size: 20px;
font-weight: 700;
letter-spacing: 0%;

}

